{% extends 'antioxidant/layout.html' %}
<head>
    <title>{% block title %}Data{% endblock title %}</title>
</head>

{% block content %}
<div class="jumbotron">
    <h2>Data</h2>
    <p align="left" class="lead">The benchmark dataset contains 1801 protein sequences which composed of 250
        <a href="/IDAod/antioxidant/">antioxidant</a>
        proteins and 1551
        <a href="/IDAod/non-antioxidant/">non-antioxidant</a>
        proteins, respectively. </p>
</div>
{% endblock content %}