{% extends 'antioxidant/layout.html' %}
<head>
    <title>{% block title %}Data{% endblock title %}</title>
</head>

{% block content %}
<div class="jumbotron">
    <h2>Data</h2>
    <p align="left" class="lead">The benchmark dataset contains 1805 protein sequences which composed of 253
        <a href="/antioxidant/antioxidant/">antioxidant</a>
        proteins and 1552
        <a href="/antioxidant/non-antioxidant/">non-antioxidant</a>
        proteins, respectively. </p>
</div>
{% endblock content %}