{% extends "layout.html" %}
<title>{% block title %}A IDAod Predictor{% endblock title %}</title>


 {% block content %}

    <div class="jumbotron">
        <div class="header clearfix">
            <h3 class="text-muted">Antioxidant Proteins Predictor</h3>
        </div>
        <div class="btn-group" role="button" aria-label="...">
                    <button type="button" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-folder-open" aria-label="true"></span>
                        <a href="/IDAod/data/">Data</a></button>
                    <button type="button" class="btn btn-sm btn-default">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <a href="/IDAod/about/">About</a></button>
        </div>

          <form enctype="multipart/form-data" action="/IDAod/result/" method="POST">


            <p class="lead"><small>Enter the query protein sequences in FASTA format (<a href="/IDAod/example/">Example</a>)</small></p>
            <textarea class="form-control" name='antioxidant' rows="15"></textarea>
            <br>
            <p><input class="btn btn-lg btn-success" type="submit" value="Submit" id="button_submit" ></p>

    </form>
    </div>
 {% endblock content %}