<head>
    <title>{% block title %}bacteriophage{% endblock title %}</title>
</head>

<pre>
    Phage virion proteins
>VIR|P82889|CAPSD_BP
MDFNPSEVASQVTNYIQAIAAAGVGVLALAIGLSAAWKYAKRFLKG
>VIR|P03619|CAPSD_BP
MKKSVVAKIIAGSTLVIGSSAFAADDATSQAKAAFDSLTAQATEMSGYAWALVVLVVGATV
GIKLFKKFVSRAS
>VIR|P03620|CAPSD_BP
MRVLSTVLAAKNKIALGAATMLVSAGSFAAEPNAATNYATEAMDSLKTQAIDLISQTWPV
VTTVVVAGLVIRLFKKFSSKAV
>VIR|P03621|CAPSD_BP
MKAMKQRIAKFSPVASFRNLCIAGSVTAATSLPAFAGVIDTSAVESAITDGQGDMKAIGGY
IVGALVILAVAGLIYSMLRKA
>VIR|P03623|CAPSD_BP
MQSVITDVTGQLTAVQADITTIGGAIIVLAAVVLGIRWIKAQFF
>VIR|P15794|CAPSD_BP
MRSFLNLNSIPNVAAGNSCSIKLPIGQTYEVIDLRYSGVTPSQIKNVRVELDGRLLSTYKTL
NDLILENTRHKRKIKAGVVSFHFVRPEMKGVNVTDLVQQRMFALGTVGLTTCEIKFDIDE
AAAGPKLSAIAQKSVGTAPSWLTMRRNFFKQLNNGTTEIADLPRPVGYRIAAIHIKAAGV
DAVEFQIDGTKWRDLLKKADNDYILEQYGKAVLDNTYTIDFMLEGDVYQSVLLDQMIQD
LRLKIDSTMDEQAEIIVEYMGVWSRNGF
>VIR|P22535|CAPSD_BP
MAQVQQLTPAQQAALRNQQAMAANLQARQIVLQQSYPVIQQVETQTFDPANRSVFDVTP
ANVGIVKGFLVKVTAAITNNHATEAVALTDFGPANLVQRVIYYDPDNQRHTETSGWHLHF
VNTAKQGAPFLSSMVTDSPIKYGDVMNVIDAPATIAAGATGELTMYYWVPLAYSETDLTG
AVLANVPQSKQRLKLEFANNNTAFAAVGANPLEAIYQGAGAADCEFEEISYTVYQSYLDQ
LPVGQNGYILPLIDLSTLYNLENSAQAGLTPNVDFVVQYANLYRYLSTIAVFDNGGSFNAG
TDINYLSQRTANFSDTRKLDPKTWAAQTRRRIATDFPKGVYYCDNRDKPIYTLQYGNVGF
VVNPKTVNQNARLLMGYEYFTSRTELVNAGTISTT
>VIR|P85987|CAPSD_BP
MAAYQTYTMAGIKEDFADWVSNISPEYTPLISMIRKFPVHNTMFQWQWDVLKDVDTEN
QHNEASDAKDVELTPTTVVQNYVQIMRKVVFVSDSANAVSSHGREKELFYQLKKAAKEL
KRDNEGIFLLKDRAGDAGSATKPRLTASFGSLIDASMKKTADLDEATLFEMTAKLYTEGA
DPTLIMYHPSNANFFASLQEKSGTRMRIFENDKRFVKQVEYIVDPLGQELKCIPNRWCPED
ATYIFNPSDLGMAVLRAPKKVALAKSGSAEKYMIEQEVGFRLNNPKAAALIIGKYKEGGN
GGGESVKS
>VIR|P85989|CAPSD_BP
MSKKLVTEEMRTQWLPVLEKKSEQIQPLTAENVSVRLLQNQAEWNAKNLGESEGPSSVN
ANVGKWQPVLIDMAKRLAPNNIAMDFFGVQPLAGPDGQIFALRARQGVGDASNTQQSR
KELFMEEAQTNYSGDQTTVHSGDPSGFSQADIEGSGTEVSSYGKAMDTVKAEQLGSPTQ
PWARVGITIQKATVTAKSRGLYADYSHELRQDMMAIHGEDVDAILSDVMVTEIQAEMNRE
FIRTMNFTAVRFKKFGTNGVVDVAADVSGRWALEKWKYLVFMLEVEANGVGVDTRRGK
ANRVLCSPNVASALAMAGMLDYSPALNVQAQLAVDPTGQTFAGVLSNGMRVYIDPYAVA
EYITLAYKGATALDAGIYFAPYVPLEMYRTQGETTFAPRMAFKTRYGIAANPFVQIPANQDPQVYVTEDGIAKDTNVYFRKGLIKNLY
>VIR|P03622|CAPSD_BP
SGVGDGVDVVSAIEGAAGPIAAIGGAVLTVMVGIKVYKWVRRAM
>VIR|P03614|COAT_BPF
MASNFEEFVLVDNGGTGDVKVAPSNFANGVAEWISSNSRSQAYKVTCSVRQSSANNRKY
TVKVEVPKVATQVQGGVELPVAAWRSYMNMELTIPVFATNDDCALIVKALQGTFKTGNPI
ATAIAANSGIY
>VIR|P49861|COAT_BPH
MSELALIQKAIEESQQKMTQLFDAQKAEIESTGQVSKQLQSDLMKVQEELTKSGTRLFDL
EQKLASGAENPGEKKSFSERAAEELIKSWDGKQGTFGAKTFNKSLGSDADSAGSLIQPMQ
IPGIIMPGLRRLTIRDLLAQGRTSSNALEYVREEVFTNNADVVAEKALKPESDITFSKQTAN
VKTIAHWVQASRQVMDDAPMLQSYINNRLMYGLALKEEGQLLNGDGTGDNLEGLNKVA
TAYDTSLNATGDTRADIIAHAIYQVTESEFSASGIVLNPRDWHNIALLKDNEGRYIFGGPQA
FTSNIMWGLPVVPTKAQAAGTFTVGGFDMASQVWDRMDATVEVSREDRDNFVKNMLTI
LCEERLALAHYRPTAIIKGTFSSGS
>VIR|Q04754|COAT_BPL
MTVVLDSKDLARIDEEYKADSQVWSYLTGGNGVTQRFRGHNEVRINKLSGFVDATAYKR
GQDNARKTISVGKETVKLTHEDWFGYDLDQFDMDENGAYTVENVVREHNKMITIPHRD
KVAVQKLFDSAAKKATDSITKDNALDAYDTAEAYMFDNEVPGGFVMFVSSAYYTALKQS
AAVTRTFSTDGTMVINGIDRRVAQLDGGVPIVRVSSDRLKGLGITNHVNFILTPLSAIAPIVK
YDSVSVIDPSTDRSGNRWTIKGLSYYDAIVLDNAKKGIYVAATAGV
>VIR|P85500|COAT_BPP
MKTNRAYSTLEVKALDDEKRVITGIASTPSPDRMQDVVEPKGAQFKLPIPFLWQHNHDEPI
GHVTEAKVTQKGIEVSVQLTQVEEPGKLKDRLDEAWQSIKSGLVRGLSIGFSAKEFEQIPG
SWGLRFLSWEWFELSAVTIPANAEATITSVKSIDREQRAALGIKSVPVVRVTPAGASAIKTK
TIKVPKPQEGNDMKTTAEQIAEFEATRVTKAAEMEAIMTKAAEAGETLDAEQSEQFDTLE
AEIAAIDKHIGRLKQMQKAQAANAKPVTEEAGAQRMANVKALDFKEVQVRAKNTQKLE
PGIAFARAAKCLALGHLEHRDAIGIAKSLYDGQDSIIAATQRLVTKAAVAAATTSDATWAG
PLVGDETSVFADFVEYLRPQTILGRFGTNGIPSLRRVPFRVPLIGQTSGGDGYWVGEGQAK
PLTKFDFERKTLEPLKVANIAVATMEVIRDSSPSADVIIRDQLAAALRERLDIDFIDPAKAAV
AGVSPASILNGVAGIPSSGNTADDVRADIRALFNAFIAANNAPTSGVWLMPATTALALSLM
QNPLGQAEFPGISMTGGTLFGLPVIVSEYIPTASAGAVVALVNASDIYLGDEGGVDLSMST
EASLQMDNAPDNPTTASTVLVSLWQRNLVGFRAERAINWARRRASAVAYLTGVNWGAA
>VIR|P03630|COAT_BPP
SKTIVLSVGEATRTLTEIQSTADRQIFEEKVGPLVGRLRLTASLRQNGAKTAYRVNLKLDQA
DVVDCSTSVCGELPKVRYTQVWSHDVTIVANSTEASRKSLYDLTKSLVVQATSEDLVVNL
VPLGR
>VIR|P03616|COAT_BPP
AQLQNLVLKDREATPNDHTFVPRDIRDNVGEVVESTGVPIGESRFTISLRKTSNGRYKSTL
KLVVPVVQSQTVNGIVTPVVVRTSYVTVDFDYDARSTTKERNNFVGMIADALKADLMLV
HDTIVNLQGVY
>VIR|P04535|COAT_BPT
MTIKTKAELLNKWKPLLEGEGLPEIANSKQAIIAKIFENQEKDFQTAPEYKDEKIAQAFGSF
LTEAEIGGDHGYNATNIAAGQTSGAVTQIGPAVMGMVRRAIPNLIAFDICGVQPMNSPTGQVFALRAVYGKDPVAAGAKEAFHPMYGPDAMFSGQGAAKKFPALAASTQTTVGDIYTHFF
QETGTVYLQASVQVTIDAGATDAAKLDAEIKKQMEAGALVEIAEGMATSIAELQEGFNGS
TDNPWNEMGFRIDKQVIEAKSRQLKAAYSIELAQDLRAVHGMDADAELSGILATEIMLEI
NREVVDWINYSAQVGKSGMTLTPGSKAGVFDFQDPIDIRGARWAGESFKALLFQIDKEAV
EIARQTGRGEGNFIIASRNVVNVLASVDTGISYAAQGLATGFSTDTTKSVFAGVLGGKYRV
YIDQYAKQDYFTVGYKGPNEMDAGIYYAPYVALTPLRGSDPKNFQPVMGFKTRYGIGINP
FAESAAQAPASRIQSGMPSILNSLGKNAYFRRVYVKGI
>VIR|P11128|FUS_BPPH
MSIFSSLFKVIKKVISKVVATLKKIFKKIWPLLLIVAIIYFAPYLAGFFTSAGFTGIGGIFSSIAT
TITPTLTSFLSTAWSGVGSLASTAWSGFQSLGMGTQLAVVSGAAALIAPEETAQLVTEIGTT
VGDIAGTIIGGVAKALPGWIWIAAGGLAVWALWPSSDSKE
>VIR|P19192|F_BPCHP
MAKGRKLPSVMKNRFSEVPTATIRRSSFDRSHGYKTTFDMDYLVPFFVDEVLPGDTFSLSE
THLCRLTTLVQPIMDNIQLTTQFFFVPNRLLWDNWESFITGGDEPVAWTSTNPANEYFVPQ
VTSPDGGYAENSIYDYFGLPTKVANYRHQVLPLRAYNLIFNEYYRDENLQESLPVWTGDA
DPKVDPTTGEESQEDDAVPYVYKLMRRNKRYDYFTSALPGLQKGPSVGIGITGGDSGRLP
VHGLAIRSYLDDSSDDQFSFGVSYVNASQKWFTADGRLTSGMGSVPVGTTGNFPIDNVV
YPSYFGTTVAQTGSPSSSSTPPFVKGDFPVYVDLAASSSVTINSLRNAITLQQWFEKSARYG
SRYVESVQGHFGVHLGDYRAQRPIYLGGSKSYVSVNPVVQNSSTDSVSPQGNLSAYALST
DTKHLFTKSFVEHGFVIGLLSATADLTYQQGLERQWSRFSRYDYYWPTFAHLGEQPVYNK
EIYCQSDTVMDPSGSAVNDVPFGYQERYAEYRYKPSKVTGLFRSNATGTLDSWHLSQNFA
NLPTLNETFIQSNTPIDRALAVPDQPDFICDFYFNYRCIRPMPVYSVPGLRRI
>VIR|P03661|G3P_BPFD
MKKLLFAIPLVVPFYSHSAETVESCLAKPHTENSFTNVWKDDKTLDRYANYEGCLWNATG
VVVCTGDETQCYGTWVPIGLAIPENEGGGSEGGGSEGGGSEGGGTKPPEYGDTPIPGYTY
INPLDGTYPPGTEQNPANPNPSLEESQPLNTFMFQNNRFRNRQGALTVYTGTVTQGTDPV
KTYYQYTPVSSKAMYDAYWNGKFRDCAFHSGFNEDPFVCEYQGQSSDLPQPPVNAGGG
SGGGSGGGSEGGGSEGGGSEGGGSEGGGSGGGSGSGDFDYEKMANANKGAMTENADE
NALQSDAKGKLDSVATDYGAAIDGFIGDVSGLANGNGATGDFAGSNSQMAQVGDGDNSP
LMNNFRQYLPSLPQSVECRPYVFGAGKPYEFSIDCDKINLFRGVFAFLLYVATFMYVFSTF
ANILRNKES
>VIR|O80297|G3P_BPIF
MKKIIIALFFAPFFTHATTDAECLSKPAFDGTLSNVWKEGDSRYANFENCIYELSGIGIGYD
NDTSCNGHWTPVRAADGSGNGGDDNSSGGGSNGDSGNNSTPDTVTPGQTVNLPSDLSTL
SIPANVVKSDSIGSQFSLYTNASCTMCSGYYLSNNADSIAIANITETVKADYNQPDMWFEQ
TDSDGNHVKILQNSYKAVSYNVESKQSDVNNPTYINYSYSVNVKQVSYDTSNVCIMNWE
TFQNKCDASRAVLITDTVTPSYSRNITIQSNINYQGSNGSGGSGGSGGSGNDGGGTGNNG
NGTGDFDYVKMANANKDALTESFDLSALQADTGASLDGSVQGTLDSLSGFSDSIGGLVG
NGSAISGEFAGSSAAMNAIGEGDKSPLLDSLSFLKDGLFPALPEFKQCTPFVFAPGKEYEFII
ECKYIDMFKGIFAFILYFWTFVTVYDSFSGILRKGRG
>VIR|P03663|G3P_BPIK
MKRKIIAISLFLYIPLSNADNWESITKSYYTGFAISKTVESKDKDGKPVRKEVITQADLTTAC
NDAKASAQNVFNQIKLTLSGTWPNSQFRLVTGDTCVYNGSPGEKTESWSIRAQVEGDIQR
SVPDEEPSEQTPEEICEAKPPIDGVFNNVFKGDEGGFYINYNGCEYEATGVTVCQNDGTVCSSSAWKPTGYVPESGEPSSSPLKDGDTGGTGEGGSDTGGDTGGGDTGGGSTGGDTGGSS
GGGSSGGGSSGGSTGKSLTKEDVTAAIHVASPSIGDAVKDSLTEDNDQYDNQKKADEQSA
KASASVSDAISDGMRGVGNFVDDFGGESSQYGTGNSEMDLSVSLAKGQLGIDREGHGSA
WESFLNDGALRPSIPTGHGCTNFVMYQGSVYQIEIGCDKLNDIKSVLSWVMYCLTFWYVF
QSVTSLLRKGEQ
>VIR|P69532|G6P_BPM1
MPVLLGIPLLLRFLGFLLVTLFGYLLTFLKKGFGKIAIAISLFLALIIGLNSILVGYLSDISAQL
PSDFVQGVQLILPSNALPCFYVILSVKAAIFIFDVKQKIVSYLDWDK
>VIR|P69535|G7P_BPM1
MEQVADFDTIYQAMIQISVVLCFALGIIAGGQR
>VIR|P69538|G9P_BPM1
MSVLVYSFASFVLGWCLRSGITYFTRLMETSS
>VIR|P31281|G_BPAL3
MYQNFVTKHDTAIQTSRFSVTGNVIPAAPTGNIPVINGGSITAERAVVNLYANMNVSTSSD
GSFIVAMKVDTSPTDPNCVISAGVNLSFAGTSYPIVGIVRFESASEQPTSIAGSEVEHYPIEM
SVGSGGVCSARDCATVDIHPRTSGNNVFVGVICSSAKWTSGRVIGTIATTQVIHEYQVLQP
LK
>VIR|P03644|G_BPG4 M
MFQKFISKHNAPINSTQLAATKTPAVAAPVLSVPNLSRSTILINATTTAVTTHSGLCHVVRID
ETNPTNHHALSIAGSLSNVPADMIAFAIRFEVADGVVPTAVPALYDVYPIETFNNGKAISFK
DAVTIDSHPRTVGNDVYAGIMLWSNAWTASTISGVLSVNQVNREATVLQPLK
>VIR|Q9T1S4|HEAD_BPA
MANNLESNISQIVLKKFLPGFMSDIVLCKTVDRQLLSGEINSNTGDSVSFKRPHQFKSERTE
TGDITGKDKNGLFSAKATGKVGKYITVAVEWTQIEEALKLNQLDQILSPIHERMVTDLETE
LAHFMMNNGALSLGSPNTAIKKWADVAQTASFIKDIGIKTGENYAIMDPWSAQRLADAQS
GLHAADQLVRTAWENAQISGNFGGIRALMSNGLASRKQGDFDGAITVKTAPNVDYLSVK
DSYQFTVALTGATPSKTGFLKAGDQLKFTSTHWLNQQSKQTLYNGSTAMSFTATVLEETN
STASGDVTVKLSGVPIYDEKNSQYNAVDAKVKAGDAVSIIGTAKQQMKPNLFYNKFFCGL
GTIPLPKLHSLDSAVATYEGFSIRVHKYADGDANKQMMRFDLLPAYVCFNPHMGGQFFGN
P
>VIR|P19193|H_BPCHP
MSFAENVGRFIGNSVNSVGSVIGDGLKGFNSTQSISSAKQANLLNNLPLPSLDNVLNIGMF
GGLASGLLSYRAAKKQNKVMQDIANRQMAFQERMSSTAVRRHVEDLKKAGLNPLLALG
GSASTPQGAFYSPVNPMESGLNSAISVADKVFDYQRLAHADFQGRLNSAMSVVQLASAV
QDYKRNYGKFGEVAYWFDRYAGKLLPAMLFYLFRKHPVGRAVSAANSGYAVAKGAKGV
NFKFSNMSSTAVQRHNSRYNVSKGWRR
>VIR|P03646|H_BPPHX
MFGAIAGGIASALAGGAMSKLFGGGQKAASGGIQGDVLATDNNTVGMGDAGIKSAIQGS
NVPNPDEAAPSFVSGAMAKAGKGLLEGTLQAGTSAVSDKLLDLVGLGGKSAADKGKDT
RDYLAAAFPELNAWERAGADASSAGMVDAGFENQKELTKMQLDNQKEIAEMQNETQKE
IAGIQSATSRQNTKDQVYAQNEMLAYQQKESTARVASIMENTNLSKQQQVSEIMRQMLTQ
AQTAGQYFTNDQIKEMTRKVSAEVDLVHQQTQNQRYGSSHIGATAKDISNVVTDAASGV
VDIFHGIDKAVADTWNNFWKDGKADGIGSNLSRK
>VIR|P85991|IGLVP_BPMPKIKILVTPYVVKNKPETERNHVVTGVADGWEKTSLNADPNEILTESKGLDTLLTDCNL
KPDGVTKIDPSKPIGKEVEIEIYDPDAIPVQTVTVSPDTATGTVGQQLTFTADILPADATYKD
VEWSSSDEAKAKSLGNGVFDLKAVGTGIIVSATSIDGGVIGEAELTITAAVVAVTGVTLSPK
TKTIAVGEKFTLAATVAPANATNKTVTYTSADPATATVNATTGEVEGKASGTVAITGKTAD
GNKTDVCNVTVS
>VIR|P69592|J_BPPHX
MSKGKKRSGARPGRPQPLRGTKGKRKGARLWYVGGQQF
>VIR|P07582|LYS_BPPH
MSKDSAFAVQYSLRALGQKVRADGVVGSETRAALDALPENQKKAIVELQALLPKAQSVG
NNRVRFTTAEVDSAVARISQKIGVPASYYQFLIPIENFVVAGGFETTVSGSFRGLGQFNRQT
WDRLRRLGRNLPAFEEGSAQLNASLYAIGFLYLENKRAYEASFKGRVFTHEIAYLYHNQGA
PAAEQYLTSGRLVYPKQSEAAVAAVAAARNQHVKESWA
>VIR|P26596|MCP_BPF4
MKLDYNSREIFFGNEALIVADMSKGINGKPEFTNHKIVAGLVSVGSMEDQAETNSYPADD
VPDHGVKKGATLLQGEMVFIQTDQALKEDILGQQRTENGLGWSPTGNWKTKCVQYLIKG
RKRDKVTGEFVDGYRVVVYPNLTPTAEATKESETDSVDGVDPIQWTLAVQATESDIYLNG
GKKVPAIEYEIWGEQAKDFVKKMESGLFIMQPDTVLAGAITLVAPVIPNVTTATKGNNDGT
IVVPDTLKDSKGGTVKVTSVIKDAHGKVATNGQLAPGVYIVTFSADGYEDVTAGVSVTD
HS
>VIR|D6RRG7|ORF10_BP
MAGRTSTYAPNQVTIVINHAASGISHTLTGFSEDSIVSVERLVDTFTEYVGADDTHTRVFN
ANSGARATVSLAQTSESNDVLTFLHEFDREAMSADGMFEMLIKDNSGRSLYFSDEAYIAVI
PQGGFSNQMNTRDWVISMTNTTFQHGGNQKVSPATADTLTALGVNLDARWL
>VIR|D6RRG1|ORF4_BPK
MRPIPSLQNNFEYTDLTEPMILIPNVWGLTQQLGIFGVDRTTQESVTLEEITKSFGLMEDIH
RGARHQVGRDYDRQMRTFAVPHFTYDDYITPRDIQGKRAYGKQELETLDQVRMRKLERL
RGTHAATMEFARMHTLVTGKPYTPNNTVGGATGYDWYQEFGKTRFEVNFELDTPTTNIL
EKSELVYAHMQDEAYTGGVVGDVIAICSPEFFSKLISHPTVVEAYKYYASQPQILRERLRA
RGFDARYREFYFGNVLYIEYRGGFQGRPGGEKRRYVPAGEAVFIPGSGTEDLFKTFFAPAS
KFEHVNTPGEESYAFEYVDPKGEFLEINSETNFINVLMYPQLVVKGKAA
>VIR|P11130|P13_BPPH
MVPLKISTLESQLQPLVKLVATETPGALVAYARGLSSADRSRLYRLLRSLEQAIPKLSSAVVS
ATTLAARGL
>VIR|P11126|P1_BPPH6
MFNLKVKDLNGSARGLTQAFAIGELKNQLSVGALQLPLQFTRTFSASMTSELLWEVGKGN
IDPVMYARLFFQYAQAGGALSVDELVNQFTEYHQSTACNPEIWRKLTAYITGSSNRAIKAD
AVGKVPPTAILEQLRTLAPSEHELFHHITTDFVCHVLSPLGFILPDAAYVYRVGRTATYPNFY
ALVDCVRASDLRRMLTALSSVDSKMLQATFKAKGALAPALISQHLANAATTAFERSRGNF
DANAVVSSVLTILGRLWSPSTPKELDPSARLRNTNGIDQLRSNLALFIAYQDMVKQRGRAE
VIFSDEELSSTIIPWFIEAMSEVSPFKLRPINETTSYIGQTSAIDHMGQPSHVVVYEDWQFAK
EITAFTPVKLANNSNQRFLDVEPGISDRMSATLAPIGNTFAVSAFVKNRTAVYEAVSQRGTV
NSNGAEMTLGFPSVVERDYALDRDPMVAIAALRTGIVDESLEARASNDLKRSMFNYYAAV
MHYAVAHNPEVVVSEHQGVAAEQGSLYLVWNVRTELRIPVGYNAIEGGSIRTPEPLEAIAY
NKPIQPSEVLQAKVLDLANHTTSIHIWPWHEASTEFAYEDAYSVTIRNKRYTAEVKEFELLGLGQRRERVRILKPTVAHAIIQMWYSWFVEDDRTLAAARRTSRDDAEKLAIDGRRMQNA
VTLLRKIEMIGTTGIGASAVHLAQSRIVDQMAGRGLIDDSSDLHVGINRHRIRIWAGLAVL
QMMGLLSRSEAEALTKVLGDSNALGMVVATTDIDPSL
>VIR|P27378|P2_BPPRD
MANFNVPKLGVFPVAAVFDIDNVPEDSSATGSRWLPSIYQGGNYWGGGPQALHAQVSNF
DSSNRLPYNPRTENNPAGNCAFAFNPFGQYISNISSAQSVHRRIYGIDLNDEPLFSPNAASIT
NGGNPTMSQDTGYHNIGPINTAYKAEIFRPVNPLPMSDTAPDPETLEPGQTEPLIKSDGVYS
NSGIASFIFDRPVTEPNPNWPPLPPPVIPIIYPTPALGIGAAAAYGFGYQVTVYRWEEIPVEFI
ADPETCPAQPTTDKVIIRTTDLNPEGSPCAYEAGIILVRQTSNPMNAVAGRLVPYVEDIAVDI
FLTGKFFTLNPPLRITNNYFADDEVKENTVTIGNYTTTLSSAYYAVYKTDGYGGATCFIASG
GAGISALVQLQDNSVLDVLYYSLPLSLGGSKAAIDEWVANNCGLFPMSGGLDKTTLLEIPR
RQLEAINPQDGPGQYDLFILDDSGAYASFSSFIGYPEAAYYVAGAATFMDVENPDEIIFILRN
GAGWYACEIGDALKIADDEFDSVDYFAYRGGVMFIGSARYTEGGDPLPIKYRAIIPGLPRG
RLPRVVLEYQAVGMSFIPCQTHCLGKGGIISKV
>VIR|P11129|P3_BPPH6
MRYQGINEWLGGAKKLTTANGEIGAIYLSAAPPTDAARADAKAVDFTAGWPSAIVDCAD
ATRAKQNYLWVGDNVVHIGAKHVPLLDLWGGTGDAWQQFVGYACPMLDLCRAWGLGY
ASASVTTGSLQGYQPSAFLDVEQQQFAKDNLNLYGDNCLDLATSSSAQRAFLEQCMGCA
LPEDCIFGWYVKMDWEGSAVADAYAAIRVQGFATVMAPWQSVGGAGYVYARVPQKGA
WMGVNLLAYVHGTSGQPAYGIPMTLSGFTGNMGQVASKWLMLPLLMIVDPHVVQILAA
LGVKRGTKSDPRTTDVYADPKVPASRISGPMINGTVAPPATIPATIPVPLAPLGGAGGPGAQ
GFQVYPVFTWGLPEFMTDVTIEGTVTADSNGLHVVDDVRNYVWNGTALAAIEQVNAAD
GRVTLTDSERAQLASLTVRTASLRQQLSVGADPLSKTSIWRRAQKADYDLLSQQIIEADTV
KNLPAVTFAQANKAAGGQSETLWHQMYRVNDIAGDQVTAIQITGTMATGIRWSATAGGL
VVDADEQDAVIAISSGKPVKNSSDLPTADAVNYLFGITADDMPGIVSSQKEMNSEFEEGFL
QKARLWNPRKLVENVQNAYFLMVYARDRKQFHSLVASSLAMAKLGVSTRACKESYGC
>VIR|Q9XJR6|P3_BPPM2
MNTSVPTSVPTNQSVWGNVSTGLDALISGWARVEQIKAAKASTGQGRVEQAMTPELDNG
AAVVVEAPKKAAQPSETLVFGVPQKTLLLGFGGLLVLGLVMRGNK
>VIR|P11125|P4_BPPH6
MPIVVTQAHIDRVGIAADLLDASPVSLQVLGRPTAINTVVIKTYIAAVMELASKQGGSLAG
VDIRPSVLLKDTAIFTKPKAKSADVESDVDVLDTGIYSVPGLARKPVTHRWPSEGIYSGVT
ALMGATGSGKSITLNEKLRPDVLIRWGEVAEAYDELDTAVHISTLDEMLIVCIGLGALGFN
VAVDSVRPLLFRLKGAASAGGIVAVFYSLLTDISNLFTQYDCSVVMVVNPMVDAEKIEYVF
GQVMASTVGAILCADGNVSRTMFRTNKGRIFNGAAPLAADTHMPSMDRPTSMKALDHT
SIASVAPLERGSVDTDDRNSAPRRGANFSL
>VIR|Q37958|P4_BPPM2
MQKPSGKGLKYFAYGVAISAAGAILAEYVRDWMRKPKAKS
>VIR|Q9XJR2|P5_BPPM2
MKKAHMFLATAAALGVAMFPTQINEAARGLRNNNPLNIKEGSDGGAQWEGEHELDLDP
TFEEFKTPVHGIRAGARILRTYAVKYGLESIEGIIARWAPEEENDTENYINFVANKTGIPRNQ
KLNDETYPAVISAMIDMENGSNPYTYDEIKKGFEWGFYG
>VIR|P22536|P5_BPPRD
MANQQIGGSTVTYNGAIPMGGPVAINSVIEIAGTEVLVDLKLDYATGKISGVQTLYIDLRDFLGDVTVTMPDTGQRITARAGTQGYYPVLSTNLMKFIVSATIDGKFPMNFINFPIALGVWPS
GIKGDKGDPGAPGPAGGTVVVEDSGASFGESLLDTTSEPGKILVKRISGGSGITVTDYGDQ
VEIEASGGGGGGGGVTDALSLMYSTSTGGPASIAANALTDFDLSGALTVNSVGTGLTKSA
AGIQLAAGKSGLYQITMTVKNNTVTTGNYLLRVKYGSSDFVVACPASSLTAGGTISLLIYC
NVLGVPSLDVLKFSLCNDGAALSNYIINITAAKIN
>VIR|Q9XJR1|P6_BPPM2
MANFLTKNFVWILAAGVGVWFYQKADNAAKTATKPIADFLAELQFLVNGSNYVKFPNA
GFVLTRDALQDDFIAYDDRIKAWLGTHDRHKDFLAEILDHERRVKPVYRKLIGNIIDASTIR
AASGVEL
>VIR|P11123|P7_BPPH6
MTLYLVPPLDSADKELPALASKAGVTLLEIEFLHELWPHLSGGQIVIAALNANNLAILNRH
MSTLLVELPVAVMAVPGASYRSDWNMIAHALPSEDWITLSNKMLKSGLLANDTVQGEKR
SGAEPLSPNVYTDALSRLGIATAHAIPVEPEQPFDVDEVSA
>VIR|Q9XJR8|P7_BPPM2
MINKTTIKTVLITLGVLAAVNKVSALRSVKRLIS
>VIR|P07579|P8_BPPH6
MLLPVVARAAVPAIESAIAATPGLVSRIAAAIGSKVSPSAILAAVKSNPVVAGLTLAQIGSTG
YDAYQQLLENHPEVAEMLKDLSFKADEIQPDFIGNLGQYREELELVEDAARFVGGMSNLI
RLRQALELDIKYYGLKMQLNDMGYRS
>VIR|Q9XJR5|P8_BPPM2
MLGALMGVAGGAPMGGASPMGGMPSIASSSSAETGQQTQSGNFTGGGINFGSNNNNQLL
IVGAVVIGLFLVIKRK
>VIR|Q9XJR9|P9_BPPM2
MRTTTKKQIERTDPTLPNVHHLVVGATGSGKSAFIRDQVDFKGARVLAWDVDEDYRLPRV
RSIKQFEKLVKKSGFGAIRCALTVEPTEENFERFCQLVFAISHAGAPMVVIVEELADVARIG
KASPHWGQLSRKGRKYGVQLYVATQSPQEIDKTIVRQCNFKFCGALNSASAWRSMADNL
DLSTREIKQLENIPKKQVQYWLKDGTRPTEKKTLTFK
>VIR|P11124|RDRP_BPP
MPRRAPAFPLSDIKAQMLFANNIKAQQASKRSFKEGAIETYEGLLSVDPRFLSFKNELSRYL
TDHFPANVDEYGRVYGNGVRTNFFGMRHMNGFPMIPATWPLASNLKKRADADLADGPV
SERDNLLFRAAVRLMFSDLEPVPLKIRKGSSTCIPYFSNDMGTKIEIAERALEKAEEAGNL
MLQGKFDDAYQLHQMGGAYYVVYRAQSTDAITLDPKTGKFVSKDRMVADFEYAVTGGE
QGSLFAASKDASRLKEQYGIDVPDGFFCERRRTAMGGPFALNAPIMAVAQPVRNKIYSKYA
YTFHHTTRLNKEEKVKEWSLCVATDVSDHDTFWPGWLRDLICDELLNMGYAPWWVKLF
ETSLKLPVYVGAPAPEQGHTLLGDPSNPDLEVGLSSGQGATDLMGTLLMSITYLVMQLDH
TAPHLNSRIKDMPSACRFLDSYWQGHEEIRQISKSDDAILGWTKGRALVGGHRLFEMLKE
GKVNPSPYMKISYEHGGAFLGDILLYDSRREPGSAIFVGNINSMLNNQFSPEYGVQSGVRD
RSKRKRPFPGLAWASMKDTYGACPIYSDVLEAIERCWWNAFGESYRAYREDMLKRDTLE
LSRYVASMARQAGLAELTPIDLEVLADPNKLQYKWTEADVSANIHEVLMHGVSVEKTER
FLRSVMPR
>VIR|Q9XJR3|SPIKE_BP
MIVKKKLAAGEFAETFKNGNNITIIKAVGELVLRAYGADGGEGLRTIVRQGVSIKGMNYTS
VMLHTEYAQEIEYWVGDLDYSFQEQTTKSRDVNSFQIPLRDGVRELLPEDASRNRASIKSP
VDIWIGGENMTALNGIVDGGRKFEAGQEFQINTFGSVNYWVSDEEIRVFKEYSARAKYAQNEGRTALEANNVPFFDIDVPPELDGVPFSLKARVRHKSKGVDGLGDYTSISVKPAFYITEG
DETTDTLIKYTSYGSTGSHSGYDFDDNTLDVMVTLSAGVHRVFPVETELDYDAVQEVQH
DWYDESFTTFIEVYSDDPLLTVKGYAQILMERT
>VIR|P85501|STRU1_BP
MATDSLGTLTVDLIANTGGFERGMDAAERRIASTTRAFQRQEQAAERLVGRIDPVAGAIN
RLVQEQTELERHFRSGIIPAGEFERLNRILNDQLDAVQRGNREMASGAMSARQYQAALRG
VPAQFTDIAVSLASGQQPLTVLLQQGGQLKDMFGGVVPAARALGGYIAGLVNPITGLAAS
VGVLGISFIDAEREAAAFNKAIFAGNNAAGVSGSGLSQIAEQASAVAGSLSSANKAAIALA
SSGKVAASQLQSLTEATIAIAQFTGKEVDDVAKSLSAMGDSATDAAAKISEQYGLLTYEQY
QVIKSIDEQGNSQRALDVLGEELNRNAQERLKQYRESLSDIERDWIDIKTAITNSYAAVRSE
IFPNQNQQIEQIQRILRTRQEGGVLGAVSSAFGFGENSTESLQQQLDSLVKQRDAAAKQAE
EQAKITKSNQDRVDASREWEKENEKYLSSRVKMEKEISAARELGRKAGLNEIEIEDRIAQI
RKSYEEKPSSRSGSLDAGQRMLDSLRQQYASMQAQLEATEKLGTQAQALVKWEQQLAD
LKSRGSLSADQKALLANADLITAQLKRNAALEDELNTRKEIQKTLDDYKRLNESLRTDAE
KQLDLTRQRFEILDKARQAGISDDDYRRTAERIVSSSTTKAPTFSGVDAVVAGPQGELDKL
DKAQEDLEAWYEQQLEILNENREKRAELNASWDEQELKLKQEHEDAMAAIEQSRQQITL
SANEQFFGNLSGLAKTFFGEQSGLYKAAFVAEKSFAIAKTLINVPKTASDAYSAMAGIPVIG
PALGIAAAAAAVTAQLAQVAAVKNVNLSGMAHDGIDAVPETGTWLLQKGERVTTAETSA
KLDKTLDDVRSNQSGGGAPTINLIEDRSRAGQVNTRRQDDQYIIDVVVADLFGDGRTSKA
IGSSFGMRRSGT
>VIR|P85502|STRU2_BP
MAYDTSAFPLGSKDPRVLYNNAENMDVAMNSVEQERWMDRGPQRPPLPRWTYWGMEQ
NYNRFISNSAWELPPLVYVDGSPLTVERSSQVIERDGNLYSVKLPASFPVELSGTWSADEPL
LVFRSDQSLRQELAEQNGGTLVGWKRTQLSASIDTIQQLADSIPIRVWEFAELVSDKPSPDP
ATWNWTPAFQAMVDTAESYMQSSGAKQITCYAGPGTFLIDSIVWRSGVHMYFGGAELKA
HPDSIDGNSLINATLKLSDIGFYGPGIVNGDKDSFDPEHRQHGIHCVAKKVKVKDLFIENIG
SSSVFSLGDGVIFRPTIPEGDFQCEDCEVSGCTFSNIERQCITVESGFNIRILSNGFYNSTYAA
LDIENAGYTMGDVDGVIFQGNYIDGCLYGVTAVTYQPVDAQRNIVCGGNIYKNVMDAYH
FRGCSNVKVGYGDIAEVSRYGAYIYSDGATTVSNIEISDFTTSGGTYGVYAQTTSGGSFNRI
KLSTLKITGTSTSPITVQSTSGLRIEEVDVLINTGAGVVIQNCASPIIRNLKMVGAVTLSVPA
VSFIGTTTNPRVGGLDIAGFTVGVSVTTSATTTIHSLSNNVFAGVATPWSVNPGNYIKGQFS
GTFTMNAAASMNVNSVGMNVTSSVVRLIPTNAAAATLQAGSKMAWVVNSASSNNVSFR
VQTADGTAAAGTETFAFVIENL
>VIR|P85503|STRU3_BP
MAKNNVVKAQGTDLYFIDPDTHVVMNAGCITSLSGIDTSIDQIETTCLNETARSYVAGLAT
PGTATFSINTNPQDPVHIRLLELKNAGVSLDWAVGWSDGTSAPTAVLDSSGEYDFDVPADR
SWLLFEGYMNSFSFEFAQNAVVTSSIGIQVSGEPVLIPKSTS
>VIR|P85992|TAILF_BP
MATVNEFRGAMSRGGGVQRQHRWRVTISFPSFAASADQTRDVCLLAVTTNTPTGQLGEIL
VPWGGRELPFPGDRRFEALPITFINVVNNGPYNSMEVWQQYINGSESNRASANPDEYFRD
VVLELLDANDNVTKTWTLQGAWPQNLGQLELDMSAMDSYTQFTCDLRYFQAVSDRSR
>VIR|P09009|TERM_BPP
MAKKKPVEKNGLVYKEFQKQVSNLKKAGLIPKTLDVRKVKPTKHYKGLVSKYKDVATG
GAKLAAIPNPAVIETLEARGESIIKKGGKAYLKARQQINQRGQIVNPFTVRVTKRGEVVRRYRKTTPEGKPVYITQRELPIKFENMEQWLTELKAAGFQLQPGEQIYFTFNGNYSRRTYTSF
DEAFNKFMTYDIIIDAVAGKLKVEDEADLVKSVGFQRISGPEAKAYNRNRIVLPEMQFSQA
AKKKYKRRQKRGYGSKGV
>VIR|P12528|TSPE_BPP
MTDITANVVVSNPRPIFTESRSFKAVANGKIYIGQIDTDPVNPANQIPVYIENEDGSHVQITQ
PLIINAAGKIVYNGQLVKIVTVQGHSMAIYDANGSQVDYIANVLKYDPDQYSIEADKKFK
YSVKLSDYPTLQDAASAAVDGLLIDRDYNFYGGETVDFGGKVLTIECKAKFIGDGNLIFTK
LGKGSRIAGVFMESTTTPWVIKPWTDDNQWLTDAAAVVATLKQSKTDGYQPTVSDYVKF
PGIETLLPPNAKGQNITSTLEIRECIGVEVHRASGLMAGFLFRGCHFCKMVDANNPSGGKD
GIITFENLSGDWGKGNYVIGGRTSYGSVSSAQFLRNNGGFERDGGVIGFTSYRAGESGVK
TWQGTVGSTTSRNYNLQFRDSVVIYPVWDGFDLGADTDMNPELDRPGDYPITQYPLHQL
PLNHLIDNLLVRGALGVGFGMDGKGMYVSNITVEDCAGSGAYLLTHESVFTNIAIIDTNTK
DFQANQIYISGACRVNGLRLIGIRSTDGQGLTIDAPNSTVSGITGMVDPSRINVANLAEEGL
GNIRANSFGYDSAAIKLRIHKLSKTLDSGALYSHINGGAGSGSAYTQLTAISGSTPDAVSLK
VNHKDCRGAEIPFVPDIASDDFIKDSSCFLPYWENNSTSLKALVKKPNGELVRLTLATL
>VIR|Q9XJP3|TSPE_BPS
MTDIITNVVIGMPSQLFTMARSFKAVANGKIYIGKIDTDPVNPENQIQVYVENEDGSHVPA
SQPIVINAAGYPVYNGQIVKFVTEQGHSMAVYDAYGSQQFYFQNVLKYDPDQFGPDLIEQ
LAQSGKYSQDNTKGDAMIGVKQPLPKAVLRTQHDKNKEAISILDFGVIDDGVTDNYQAIQ
NAIDAVASLPSGGELFIPASNQAVGYIVGSTLLIPGGVNIRGVGKASQLRAKSGLTGSVLRL
SYDSDTIGRYLRNIRVTGNNTCNGIDTNITAEDSVIRQVYGWVFDNVMVNEVETAYLMQG
LWHSKFIACQAGTCRVGLHFLGQCVSVSVSSCHFSRGNYSADESFGIRIQPQTYAWSSEAV
RSEAIILDSETMCIGFKNAVYVHDCLDLHMEQLDLDYCGSTGVVIENVNGGFSFSNSWIA
ADADGTEQFTGIYFRTPTSTQSHKIVSGVHINTANKNTAANNQSIAIEQSAIFVFVSGCTLT
GDEWAVNIVDINECVSFDKCIFNKPLRYLRSGGVSVTDCYLAGITEVQKPEGRYNTYRGCS
GVPSVNGIINVPVAVGATSGSAAIPNPGNLTYRVRSLFGDPASSGDKVSVSGVTINVTRPSP
VGVALPSMVEYLAI
>VIR|P09677|VA1_BPSP
MAKLNQVTLSKIGKNGDQTLTLTPRGVNPTNGVASLSEAGAVPALEKRVTVSVAQPSRNR
KNFKVQIKLQNPTACTRDACDPSVTRSAFADVTLSFTSYSTDEERALIRTELAALLADPLIV
DAIDNLNPAYWAALLVASSGGGDNPSDPDVPVVPDVKPPDGTGRYKCPFACYRLGSIYEV
GKEGSPDIYERGDEVSVTFDYALEDFLGNTNWRNWDQRLSDYDIANRRRCRGNGYIDLD
ATAMQSDDFVLSGRYGVRKVKFPGAFGSIKYLLNIQGDAWLDLSEVTAYRSYGMVIGFW
TDSKSPQLPTDFTQFNSANCPVQTVIIIPSL
>VIR|P19726|VC10A_BP
MASMTGGQQMGTNQGKGVVAAGDKLALFLKVFGGEVLTAFARTSVTTSRHMVRSISSG
KSAQFPVLGRTQAAYLAPGENLDDKRKDIKHTEKVITIDGLLTADVLIYDIEDAMNHYDV
RSEYTSQLGESLAMAADGAVLAEIAGLCNVESKYNENIEGLGTATVIETTQNKAALTDQV
ALGKEIIAALTKARAALTKNYVPAADRVFYCDPDSYSAILAALMPNAANYAALIDPEKGSI
RNVMGFEVVEVPHLTAGGAGTAREGTTGQKHVFPANKGEGNVKVAKDNVIGLFMHRSA
VGTVKLRDLALERARRANFQADQIIAKYAMGHGGLRPEAAGAVVFKVE
>VIR|P03714|VCF2_LAM
MADFDNLFDAAIARADETIRGYMGTSATITSGEQSGAVIRGVFDDPENISYAGQGVRVEGS
SPSLFVRTDEVRQLRRGDTLTIGEENFWVDRVSPDDGGSCHLWLGRGVPPAVNRRR>VIR|P26747|VG05_BPP
MALNEGQIVTLAVDEIIETISAITPMAQKAKKYTPPAASMQRSSNTIWMPVEQESPTQEGW
DLTDKATGLLELNVAVNMGEPDNDFFQLRADDLRDETAYRRRIQSAARKLANNVELKVA
NMAAEMGSLVITSPDAIGTNTADAWNFVADAEEIMFSRELNRDMGTSYFFNPQDYKKAG
YDLTKRDIFGRIPEEAYRDGTIQRQVAGFDDVLRSPKLPVLTKSTATGITVSGAQSFKPVAW
QLDNDGNKVNVDNRFATVTLSATTGMKRGDKISFAGVKFLGQMAKNVLAQDATFSVVR
VVDGTHVEITPKPVALDDVSLSPEQRAYANVNTSLADAMAVNILNVKDARTNVFWADDAI
RIVSQPIPANHELFAGMKTTSFSIPDVGLNGIFATQGDISTLSGLCRIALWYGVNATRPEAIG
VGLPGQTA
>VIR|P19060|VG06_BPT
MANTPVNYQLTRTANAIPEIFVGGTFAEIKQNLIEWLNGQNEFLDYDFEGSRLNVLCDLLA
YNTLYIQQFGNAAVYESFMRTANLRSSVVQAAQDNGYLPTSKSAAQTEIMLTCTDALNRN
YITIPRGTRFLAYAKDTSVNPYNFVSREDVIAIRDKNNQYFPRLKLAQGRIVRTEIIYDKLTP
IIIYDKNIDRNQVKLYVDGAEWINWTRKSMVHAGSTSTIYYMRETIDGNTEFYFGEGEISV
NASEGALTANYIGGLKPTQNSTIVIEYISTNGADANGAVGFSYADTLTNITVININENPNDDP
DFVGADGGGDPEDIERIRELGTIKRETQQRCVTATDYDTFVSERFGSIIQAVQTFTDSTKPG
YAFIAAKPKSGLYLTTVQREDIKNYLKDYNLAPITPSIISPNYLFIKTNLKVTYALNKLQESE
QWLEGQIIDKIDRYYTEDVEIFNSSFAKSKMLTYVDDADHSVIGSSATIQMVREVQNFYKT
PEAGIKYNNQIKDRSMESNTFSFNSGRKVVNPDTGLEEDVLYDVRIVSTDRDSKGIGKVII
GPFASGDVTENENIQPYTGNDFNKLANSDGRDKYYVIGEINYPADVIYWNIAKINLTSEKF
EVQTIELYSDPTDDVIFTRDGSLIVFENDLRPQYLTIDLEPISQ
>VIR|P19062|VG08_BPT
MNDSSVIYRAIVTSKFRTEKMLNFYNSIGSGPDKNTIFITFGRSEPWSSNENEVGFAPPYPT
DSVLGVTDMWTHMMGTVKVLPSMLDAVIPRRDWGDTRYPDPYTFRINDIVVCNSAPYN
ATESGAGWLVYRCLDVPDTGMCSIASLTDKDECLKLGGKWTPSARSMTPPEGRGDAEGTI
EPGDGYVWEYLFEIPPDVSINRCTNEYIVVPWPEELKEDPTRWGYEDNLTWQQDDFGLIY
RVKANTIRFKAYLDSVYFPEAALPGNKGFRQISIITNPLEAKAHPNDPNVKAEKDYYDPED
LMRHSGEMIYMENRPPIIMAMDQTEEINILFTF
>VIR|P10927|VG09_BPT
MFIQEPKKLIDTGEIGNASTGDILFDGGNKINSDFNAIYNAFGDQRKMAVANGTGADGQII
HATGYYQKHSITEYATPVKVGTRHDIDTSTVGVKVIIERGELGDCVEFINSNGSISVTNPLTI
QAIDSIKGVSGNLVVTSPYSKVTLRCISSDNSTSVWNYSIESMFGQKESPAEGTWNISTSGS
VDIPLFHRTEYNMAKLLVTCQSVDGRKIKTAEINILVDTVNSEVISSEYAVMRVGNETEEDE
IANIAFSIKENYVTATISSSTVGMRAAVKVIATQKIGVAQ
>VIR|P10928|VG10_BPT
MKQNINIGNVVDDGTGDYLRKGGIKINENFDELYYELGDGDVPYSAGAWKTYNASSGQT
LTAEWGKSYAINTSSGRVTINLPKGTVNDYNKVIRARDVFATWNVNPVTLVAASGDTIKGS
AVPVEINVRFSDLELVYCAPGRWEYVKNKQIDKITSSDISNVARKEFLVEVQGQTDFLDVF
RGTSYNVNNIRVKHRGNELYYGDVFSENSDFGSPGENEGELVPLDGFNIRLRQPCNIGDTV
QIETFMDGVSQWRSSYTRRQIRLLDSKLTSKTSLEGSIYVTDLSTMKSIPFSAFGLIPGEPIN
PNSLEVRFNGILQELAGTVGMPLFHCVGADSDDEVECSVLGGTWEQSHTDYSVETDENGI
PEILHFDSVFEHGDIINITWFNNDLGTLLTKDEIIDETDNLYVSQGPGVDISGDVNLTDFDKI
GWPNVEAVQSYQRAFNAVSNIFDTIYPIGTIYENAVNPNNPVTYMGFGSWKLFGQGKVLV
GWNEDISDPNFALNNNDLDSGGNPSHTAGGTGGSTSVTLENANLPATETDEEVLIVDENGSVIVGGCQYDPDESGPIYTKYREAKASTNSTHTPPTSITNIQPYITVYRWIRIA
>VIR|P10929|VG11_BPT
MSLLNNKAGVISRLADFLGFRPKTGDIDVMNRQSVGSVTISQLAKGFYEPNIESAINDVHN
FSIKDVGTIITNKTGVSPEGVSQTDYWAFSGTVTDDSLPPGSPITVLVFGLPVSATTGMTAIE
FVAKVRVALQEAIASFTAINSYKDHPTDGSKLEVTYLDNQKHVLSTYSTYGITISQEIISESK
PGYGTWNLLGAQTVTLDNQQTPTVFYHFERTA
>VIR|P15132|VG13_BPP
MVYVSNKYLTMSEMKVNAQYILNYLSSNGWTKQAICGMLGNMQSESTINPGLWQNLDE
GNTSLGFGLVQWTPASNYINWANSQGLPYKDMDSELKRIIWEVNNNAQWINLRDMTFKE
YIKSTKTPRELAMIFLASYERPANPNQPERGDQAEYWYKNLSGGGGGGLQLAQFPMDIINI
SQGENGSFSHKGTLCIDFVGKTEKYPYYAPCDCTCVWRGDASAYLAWTSDKEVMCADG
SVRYITWVNVHESPLPFDVGKKLKKGDLMGHTGIGGNVTGDHWHFNVIDGKEYQGWTK
KPDSCLAGTELHIYDVFAVNNVEIINGNGYDWKTSDWQDGDGGDGDDDNDNNKTKDLI
TLLLSDALHGWKA
>VIR|P13332|VG18_BPT
MTLLSPGIELKETTVQSTVVNNSTGTAALAGKFQWGPAFQIKQVTNEVDLVNTFGQPTAE
TADYFMSAMNFLQYGNDLRVVRAVDRDTAKNSSPIAGNIDYTISTPGSNYAVGDKITVKY
VSDDIETEGKITEVDADGKIKKINIPTGKNYAKAKEVGEYPTLGSNWTAEISSSSSGLAAVI
TLGKIITDSGILLAEIENAEAAMTAVDFQANLKKYGIPGVVALYPGELGDKIEIEIVSKADYA
KGASALLPIYPGGGTRASTAKAVFGYGPQTDSQYAIIVRRNDAIVQSVVLSTKRGEKDIYD
SNIYIDDFFAKGGSEYIFATAQNWPEGFSGILTLSGGLSSNAEVTAGDLMEAWDFFADRESV
DVQLFIAGSCAGESLETASTVQKHVVSIGDARQDCLVLCSPPRETVVGIPVTRAVDNLVN
WRTAAGSYTDNNFNISSTYAAIDGNHKYQYDKYNDVNRWVPLAADIAGLCARTDNVSQT
WMSPAGYNRGQILNVIKLAIETRQAQRDRLYQEAINPVTGTGGDGYVLYGDKTATSVPSP
FDRINVRRLFNMLKTNIGRSSKYRLFELNNAFTRSSFRTETAQYLQGNKALGGIYEYRVVC
DTTNNTPSVIDRNEFVATFYIQPARSINYITLNFVATATGADFDELTGLAG
>VIR|P13333|VG19_BPT
MFVDDVTRAFESGDFARPNLFQVEISYLGQNFTFQCKATALPAGIVEKIPVGFMNRKINVA
GDRTFDDWTVTVMNDEAHDARQKFVDWQSIAAGQGNEITGGKPAEYKKSAIVRQYARD
AKTVTKEIEIKGLWPTNVGELQLDWDSNNEIQTFEVTLALDYWE
>VIR|Q05229|VG23_BPM
MAENDDAVLTAAVGYVYVGAAGTAAPTPALLKTIDLSKPETWTGATGWTSVGHTSRGTL
PEFGFEGGESEVKGSWQKKKLREITTEDPIDYVTVLLHQFDEQSLGLYYGPNASETPGVFG
VKTGQTNEKAVLVVIEDGDMRLGHHAHKAGVRRDDAIELPIDDLAALPVRFTYLDHEDE
LPFSWINEDLFNVPEVPEG
>VIR|P19896|VG24_BPT
MAKINELLRESTTTNSNSIGRPNLVALTRATTKLIYSDIVATQRTNQPVAAFYGIKYLNPDNE
FTFKTGATYAGEAGYVDREQITELTEESKLTLNKGDLFKYNNIVYKVLEDTPFATIEESDLE
LALQIAIVLLKVRLFSDAASTSKFESSDSEIADARFQINKWQTAVKSRKLKTGITVELAQDL
EANGFDAPNFLEDLLATEMADEINKDILQSLITVSKRYKVTGITDSGFIDLSYASAPEAGRS
LYRMVCEMVSHIQKESTYTATFCVASARAAAILAASGWLKHKPEDDKYLSQNAYGFLAN
GLPLYCDTNSPLDYVIVGVVENIGEKEIVGSIFYAPYTEGLDLDDPEHVGAFKVVVDPESL
QPSIGLLVRYALSANPYTVAKDEKEARIIDGGDMDKMAGRSDLSVLLGVKLPKIIIDE
>VIR|P35837|VG26_BPPMADPSLNNPVVIQATRLDASILPRNVFSKSYLLYVIAQGTDVGAIAGKANEAGQGAYDAQ
VKNDEQDVELADHEARIKQLRIDVDDHESRITANTKAITALNVRVTTAEGEIASLQTNVSA
LDGRVTTAENNISALQADYVSKTATTSQSLASPLNVTTSYSVGGKKVLGARQTGWTAATG
TANKGVFDADLTFAVSDTYTQSEIQAIANALITERRRTKALEDALRAHGLID
>VIR|P17172|VG27_BPT
MSMLQRPGYPNLSVKLFDSYDAWSNNRFVELAATITTLTMRDSLYGRNEGMLQFYDSKN
IHTKMDGNEIIQISVANANDINNVKTRIYGCKHFSVSVDSKGDNIIAIELGTIHSIENLKFGR
PFFPDAGESIKEMLGVIYQDRTLLTPAINAINAYVPDIPWTSTFENYLSYVREVALAVGSDK
FVFVWQDIMGVNMMDYDMMINQEPYPMIVGEPSLIGQFIQELKYPLAYDFVWLTKSNPH
KRDPMKNATIYAHSFLDSSIPMITTGKGENSIVVSRSGAYSEMTYRNGYEEAIRLQTMAQY
DGYAKCSTIGNFNLTPGVKIIFNDSKNQFKTEFYVDEVIHELSNNNSVTHLYMFTNATKLE
TIDPVKVKNEFKSDTTTEESSSSNKQ
>VIR|P13339|VG48_BPT
MAIVKEITADLIKKSGEKISAGQSTKSEVGTKTYTAQFPTGRASGNDTTEDFQVTDLYKNG
LLFTAYNMSSRDSGSLRSMRSNYSSSSSSILRTARNTISSTVSKLSNGLISNNNSGTISKSPIA
NILLPRSKSDVDTSSHRFNDVQESLISRGGGTATGVLSNIASTAVFGALESITQGIMADNNE
QIYTTARSMYGGAENRTKVFTWDLTPRSTEDLMAIINIYQYFNYFSYGETGKSQYAAEIKG
YLDDWYRSTLIEPLSPEDAAKNKTLFEKMTSSLTNVLVVSNPTVWMVKNFGATSKFDGK
TEIFGPCQIQSIRFDKTPNGNFNGLAIAPNLPSTFTLEITMREIITLNRASLYAGTF
>VIR|P08767|VGF_BPAL
MSNVQTSAEREIVDLSHLAFDCGMLGRLKTVSWTPVIAGDSFELDAVGALRLSPLRRGLA
IDSKVDFFTFYIPHRHVYGDQWIQFMRDGVNAQPLPSVTCNRYPDHAGYVGTIVPANNRI
PKFLHQSYLNIYNNYFRAPWMPERTEANPSNLNEDDARYRFRCCHLKNIWSAPLPPETKL
AEEMGIESNSIDIMGLQAAYAQLHTEQERTYFMQRYRDVISSFGGSTSYDADNRPLLVMH
TDFWASGYDVDGTDQSSLGQFSGRVQQTFKHSVPRFFVPEHGVMMTLALIRFPPISPLEHH
YLAGKSQLTYTDLAGDPALIGNLPPREISYRDLFRDGRSGIKIKVAESIWYRTHPDYVNFKY
HDLHGFPFLDDAPGTSTGDNLQEAILVRHQDYDACFQSQQLLQWNKQARYNVSVYRHM
PTVRDSIMTS
>VIR|P13559|VLYS_BPP
MQYTLWDIISRVESNGNLKALRFEPEYYQRRMERGDWDNSIIQNIRAANKCSLGTARMIY
CSSWGAVQIMGFNLYLNGAFNLSVAHFMENEAYQVNEFRRFLLKNGLTEYTPERLASDKA
ARVKFAKVYNGAESYADLILQACQFYGVK
>VIR|P03733|VMTV_LAM
MPVPNPTMPVKGAGTTLWVYKGSGDPYANPLSDVDWSRLAKVKDLTPGELTAESYDDS
YLDDEDADWTATGQGQKSAGDTSFTLAWMPGEQGQQALLAWFNEGDTRAYKIRFPNGT
VDVFRGWVSSIGKAVTAKEVITRTVKVTNVGRPSMAEDRSTVTAATGMTVTPASTSVVKG
QSTTLTVAFQPEGVTDKSFRAVSADKTKATVSVSGMTITVNGVAAGKVNIPVVSGNGEFAA
VAEITVTAS
>VIR|P27379|VP06_BPP
MDTEEIKEEMQEAAEAAIENAVETAELETAAIKAEGAAAAAEQSAEQAAVMAATLAASV
EANAAQQIAEHSEQVQTQEEKISWLENQVMAMASNLQMMQEAVTALTVSQSLTPEPSPVP
AVEVEAMPEAVTVEILPESAGDQQEAEPVPSVGDQQETAPRKRFRAI
>VIR|P27380|VP07_BPP
MSGALQWWETIGAASAQYNLDPRLVAGVVQTESSGNPRTTSGVGAMGLMQLMPATAKSLGVTNAYDPTQNIYGGAALLRENLDRYGDVNTALLAYHGGTNQANWGAKTKSYPGKV
MKNINLLFGNSGPVVTPAAGIAPVSGAQEMTAVNISDYTAPDLTGLTMGAGSPDFTGGAS
GSWGEENIPWYRVDKHVANAAGSAYDAVTDAVSAPVEAAGNYALRGVVIIAAVAIVVVG
LYFLFQDEINSAAMKMIPAGKAAGAAAKALA
>VIR|P27381|VP09_BPP
MTIRMPNDRQRILVLGKTGTGKTCAAVWHLSQKDFKRKAWIVLNHKGDDLIDSIEGANH
VDLNFRPKKPGLYIYHPIPDVDDAEVTQLLWDIHAMGDIGVYVDEGYMIPNRDPAFQALL
TQGRSKKIPMIILSQRPVWLTRFAISESDFFQIFQLGDQRDRQTVQGFVPVDLEKLMQAPV
NTVPALKKFHSIYYDVGANNCVIMTPVPTADAVLARFDLGKKRKQTL
>VIR|P27382|VP11_BPP
MEKVKAWLIKYKWWIVAAIGGLAAFLLLKNRGGGSGGGGEYMVGSGPVYQQAGSGAV
DNTMALAALQANTQLSAQNAQLQAQMDASRLQLETQLNIETLAADNAHYSTQSQLQLG
MAQVDLSKYLGDLQSTTSTALAGMQSDTAKYQSNIQLQAENIRANTSLAEIDAQKYIVGK
QADIAKYQAKTERRGQDYGFALGLLNFGGKFF
>VIR|P27392|VP16_BPP
MDKKKLLYWVGGGLVLILIWLWFRNRPAAQVASNWEGPPYMTYNQPQAGSVTLPVAGY
TSPSPTLPNRNRSCGCNPAVSAAMAQGADLASKLTDSITSQLNDYASSLNDYLASQAGV
>VIR|P27388|VP22_BPP
MQLITDMAEWSSKPFRPDMSLTGWLAFVGLIIVAIILWQQIIRFIIE
>VIR|P27391|VP30_BPP
MALINPQFPYAGPVPIPGPAPTETMPLLNYRVEGRIAGIQQARQFMPFLQGPHRAVAEQTY
HAIGTGIQMGQTFNQPLINTQEG
>VIR|P27384|VP31_BPP
MNVNNPNQMTVTPVYNGCDSGEGPQSVRGYFDAVAGENVKYDLTYLADTQGFTGVQCI
YIDNAENDGAFEIDVEETGQRIKCPAGKQGYFPLLVPGRAKFVARHLGSGKKSVPLFFLNF
TIAQGVW
>VIR|P27390|VP34_BPP
MNDFVGPIVTVLTAIIGVAILAVLVSRNSNTAGVIKAGSGGFSSMLGTALSPVTGGTGFAMT
NNYSGF
>VIR|P85225|VPN1_BPP
MAVEQFPRKKVSRPHTEITVDTSGIGGSSSSSDKTLMLVGSAKGGKPDTVYRFRNYQQAK
QVLRSGDLLDAIELAWNASDVNTASAGDILAVRVEDAKNATLTKGGLTFASTIYGVDANEI
QVALEDNNLTHTKRLTVAFSKDGYKKVFDNLGKIFSIQYKGSEAQANFTIAQDSISKKATT
LTLNVGSEPESTTEVMKYELGQGVYSETNVLVSAINSLPDWEAKFFPIGDKNLPTDALEAV
TKVDVKTEAVFVGALAGDIAKQLEYNDYVTVAVDATKPVEDFELTNLTGGSDGTAPESWA
NKFPLLANEGGYYLVPLTDKQAVHSEALAFVKDRTDNGDPMRIIVGGGTNETVEESITRAT
NLRDPRASLVGFSGTRKMDDGRLLKLPGYMMASQIAGIASGLEVGEAITFKHFNVTSVDR
VFESSQLDMLNESGVISIEFVRNRTLTAFRVVQDVTTYNDKSDPVKNEMSVGEANDFLVSE
LKIELDNNFIGTKVIDTSASLIKNFIQSFLDNKKRAREIQDYTPEEVQVVLEGDVASISMTV
MPIRSLNKITVQLVYKQQILTA
>VIR|P85226|VPN2_BPP
MTEKKNTERQLTSVQEEVIKGFTTGYGITPESQTDAAALRREFLDDQITMLTWADGDLSF
YRDITKRPATSTVAKYDVYLAHGRVGHTRFTREIGVAPISDPNLRQKTVNMKYVSDTKNM
SIATGLVNNIEDPMRILTDDAISVVAKTIEWASFYGDSDLSENPDAGSGLEFDGLAKLIDKHNVLDAKGASLTEALLNQASVLVGKGYGTPTDAYMPIGVQADFVNQQLDRQVQVISDNG
QNATMGFNVKGFNSARGFIRLHGSTVMELEQILDENRMQLPNAPQKATVKATLEAGTKG
KFRDEDLTIDTEYKVVVVSDDAESAPSDVASVVIDDKKKQVKLEITINNMYQARPQYVAI
YRKGLETGLFYQIARVPASKAVEGVITFIDVNDEIPETADVFVGELTPSVVHLFELLPMMRL
PLAQVNASVTFAVLWYGALALRAPKKWARIKNVKYIATGNVFN
>VIR|P85227|VPN3_BPP
MAIATNNSRVYASLQLKNKQDSMYLAIGKTTPWTNEDAPPAPDPTTTTLTEVIGYKKVAR
VSLCREYLPSDDSKYPVVSYGSRKFTLIPDEDGYKEQAWMVYVEAEITGDELPTGTFRQV
GIHTDLVSKASSEKKALLPTDVTDAGILQFFENRQQQNRTSDVILKEKFIITMENKKSVKQ
>VIR|P85228|VPN4_BPP
MAKEILNIEDLLKPETLEVAIDGKYLIVPTLSDGFTGTVAGGYAYAVTKKGTDYTVNELIYN
QKDNTFKPSDEPIIITDDNEIFFITRTLEDPYNYPVVATEKLKTKDVKEKQVLQAFLAFADD
RFKLGVYNVFLADEPFVYGDKTE
>VIR|P85229|VPN5_BPP
MASVGNQTVHTGNTVYLMIGNKIIGRAQSASGERQYGTQGIYEIGSIMPQEHVYLKYEGT
ITLERMRMKKEDLASLGITALGEDILQRDIIDIVMMDNLTKEIVVAYRGCSAISYSESFTANE
VTSESTQFTYLTSAKVK
>VIR|P85230|VPN6_BPP
MNYPKREKVVEVSLASGTYSVFPRRLGVTTNDAMSIVNGAMKGAELPMIPVHKLADRDS
ELTYVNAFQIQTATENIVDVPERITSLYTKPEDETPEDEEVRLGTINNYFSLR
>VIR|A8E283|VPN7_BPP
MNKLVKRRFQAGLGSEIKRVYKEGQQINTLLLAQVIQVNYKYNTVDLLALQHKEVFQNS
YANEGRFSARLPMEFGGRNIVGQPYGQVNPIAVGTVVLVGFINSDKDMPIVISVYNNNDV
SKQLSRTQFSNSDPKDLELIGDMHQKFSLYPSLTYDSVDGEGGRVVTFSGKSFIAFDTKEV
ANSSTTDAGYGTKYEDLETSYYNNGDLIEPMKGRAPNVLFKHQGVLDDDGKPDLHDLLI
HINPDGTYRTSMMNKEEDWRTLFEMTPDGRVKLRKQDSINIDGGIEISELGINNEGFVYLR
NGDMDLEVRKDGIYSQGKLFTADVDLSDVYDKLNGLSIQIKETNGQLEIIANGVEEQNGK
ISELSTEITIVAGKVESKVTKTEVQDMIDSSFVDMSDAIKKAQEDADKANKVIADMSSDNR
LTPSEKIDLLKEWDIIKNEYPSYLEQAETYEVDSKDYTAKYNSLELFVTPILADMESTSSVD
GATLRKTFNSYYTARIALLNSISKKLKDGITEAMKKASQASLDATQAMADASQAKIDADN
ANKLISDIASDNKLTPSEKYQLKKEWDVIVKEYPTTIAQAEKYAVDTAEYTAKYKALELFV
EPLFKDMDETSIVDGERLRATFSDYYASKIALLKEVTDSAKTELDAYGNKISVMETNITQT
SEAITLLATRVQTVEDGVQSNKAQIEIQAEQISQKVTASEVKGIVDDSINNLTLGGTNLFVI
KTQTAGLLNENDGTVGTAVDNSVVSDYIKVNQKTPYIATLYGNTGTNMIITDWYDKNRTF
ISGEAVADSGDFSKKYVSPENAVYARVSYKKANSVNIKFEAGTKATDYSPSWEDIKGDQTA
LEEYIKKVEEQAKKAQQDAENAKNDAENANNAIADMSNDNMLAPNEKKQILLQWEQIK
TEYPINLDQATKFGVSSQQYTTAYNALDEYLKPILADMTTTSVVVGSTLRNTFNNYYDKR
TTLLNRISDVAKNVADKAQETADTINDNLQNIGGYNYVGFSSGDNMLPRLMIKNVGYYTL
GSSTTEFIDSMVAVKGDATTQPFDYTVGTSDKEIAGGGLADYRMKEVKEGQWLTASANV
QVIDGGSARLAIYTLEGDNWVGSNSTPIQVSDGLKRVVAQRKVTGLTKGVLIRIESADTNV
KEFRFGNVQLEVGIIPTPWKKSDIDIQEDINNVVQNIKTYTAWANDLQGLDFTREKVEGKT
YMYVGTSMKDSDNYSDYTWRLTDEHIEGQINGKEGAWIYSPTAPTNPSQGLIWVDLSKV
PNQPKRWVDSETGWVALTPEEVKDLPWGEDGTNLADWVAQAEQRISSDSIINTVLGSEDF
TSVFDTKANTTDLDNLATYEDLDSIKEDYNRLIKEGINGIDFTPYVTNSELQQLKDSFNFSVQQAGGVNMLKNSLGFSGLDFWDGTVGKNLLPNSTWNLGFGRWGGASIASFEILPPEDDK
PTSHILGSIGSRSSTKEIGNRPHPLKVNSGETYTISFDYKEEALAYDKDRPILVVRNYPDKDT
DQWMEYSIEGWAVMANGSTTDLTVWRRFTKTFTIGTSGYLDILPKTIVESWTHRSFWREL
KIEEGSQATTWVPNKEDGAFTGGIVETTQTEELANLGFGSGFVSSKRPSSSLTQSVELPEIG
ANLEYSLSFYMKVTTDNPVADFKCGIRVYEGDTLTYTLGIEDATQPIPLGFQQYKLVFTPTS
TSTKIEMFVENGQEASVIISGIMYNIGNIPLKWQPYPSEIYNTNVKIDINGVTVKNNQTDGY
TMITPQEFSGYSRIDGNIERIFTLNGQVTEVKMLKAEKRITMEPVSVFAMNTVTDTKRIRG
WAFVPSFE
>VIR|P25477|VPN_BPP2
MRQETRFKFNAYLSRVAELNGIDAGDVSKKFTVEPSVTQTLMNTMQESSDFLTRINIVPVS
EMKGEKIGIGVTGSIASTTDTAGGTERQPKDFSKLASNKYECDQINFDFYIRYKTLDLWAR
YQDFQLRIRNAIIKRQSLDFIMAGFNGVKRAETSDRSSNPMLQDVAVGWLQKYRNEAPAR
VMSKVTDEEGRTTSEVIRVGKGGDYASLDALVMDATNNLIEPWYQEDPDLVVIVGRQLLA
DKYFPIVNKEQDNSEMLAADVIISQKRIGNLPAVRVPYFPADAMLITKLENLSIYYMDDSH
RRVIEENPKLDRVENYESMNIDYVVEDYAAGCLVEKIKVGDFSTPAKATAEPGA
>VIR|P36275|VSHP_BPP
MVTKTITEQRAEVRIFAGNDPAHTATGSSGISSPTPALTPLMLDEATGKLVVWDGQKAGSA
VGILVLPLEGTETALTYYKSGTFATEAIHWPESVDEHKKANAFAGSALSHAALP
>VIR|P03715|VSOC_BPT
MASTRGYVNIKTFEQKLDGNKKIEGKEISVAFPLYSDVHKISGAHYQTFPSEKAAYSTVYE
ENQRTEWIAANEDLWKVTG
</pre>