{% extends "layout.html" %}

<head>
     <title>{% block title %}VirionPred{% endblock title %}</title>

</head>

    {% block content %}

        <div class="jumbotron">
              <div class="header clearfix">
                  <h3 class="text-muted">VirionPred</h3>
              </div>
            <div class="btn-group" role="button" aria-label="...">
                <button type="button" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-folder-open" aria-label="true"></span>
                    <a href="/virionpred/data/">Data</a></button>
                <button type="button" class="btn btn-sm btn-default">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <a href="/virionpred/about/">Read Me</a></button>
            </div>

            <div class="content">
                <form enctype="multipart/form-data" action="/virionpred/result/" method="POST">
                    <p align="left"><small>Enter the query protein sequences in FASTA format (<a href="/virionpred/example/">Example</a>)</small></p>
                    <textarea class="form-control" name='virion' rows="10"></textarea>

                    <br><p align="left">Or you can upload a txt file:</p>
                    <p><input type="file" name="vir_file"></p>
                    <p><input class="btn btn-lg btn-success" type="submit" value="Submit" id="button_submit" ></p>
                </form>
            </div>
        </div>
    {% endblock content %}

