{% extends "layout.html" %}

<head>
     <title>{% block title %}Bioinformatics{% endblock title %}</title>
</head>
<body>
    {% block content %}
        <div class="jumbotron">
            <p align="left" class="lead">
                Our interests are to design and use computational approach to study protein.
                    Now we mainly focus on the following fields:
                    <br>Developing machine learning methods to identify protein function and type.
            </p>
        </div>
    {% endblock content %}
</body>