<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>{% block title %}Bioinformatics{% endblock title %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ url_for('static', filename='assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='jumbotron-narrow.css') }}" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
      <style>
    table#t01, th#t01, td#t01 {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    th#t01, td#t01 {
        padding: 5px;

    }
    .link { font-size:24px}
    </style>
  {% block style %}{% endblock style %}
  </head>

  <body>

    {% block container %}
        <div class="container">
            {% block header %}
                <div class="headImg"><img src="{{ url_for('static', filename="images/homelogo.png") }}" height="80%"></div>
                  <nav>
                     <ul class="nav nav-tabs nav-pills nav-justified">
                        <li role="presentation"><a href="/"><h4><strong>Home</strong></h4></a></li>
                        <li role="presentation"><a href="/about/"><h4><strong>Research</strong></h4></a></li>
                        <li role="presentation"><a href="/services/"><h4><strong>Services</strong></h4></a></li>
                        <li role="presentation"><a href="/"><H4><strong>People</strong></H4></a></li>
                        <li role="presentation"><a href="/contact/"><h4><strong>Contact</strong></h4></a></li>
                     </ul>
                  </nav>
            {% endblock header %}<br>

            {% block content %}
            {% endblock content %}


          {% block footer %}
              <footer class="footer">
                <p>&copy; 2017 Web Science Center,&nbsp;
                <a class="grey-text text-lighten-3" href="http://www.ccse.uestc.edu.cn/">Computer Science and Engineering School</a>,&nbsp;
                <a class="grey-text text-lighten-3" href="http://www.uestc.edu.cn/">UESTC</a>
                </p>
              </footer>
          {% endblock footer %}

        </div>
    {% endblock container %}
    <script src="{{ url_for('static', filename='assets/js/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
