{% extends 'ldapred/layout.html' %}
<head>
    <title>{% block title %}Data{% endblock title %}</title>
</head>

{% block content %}
<div class="jumbotron">
    <h2>Data</h2>
    <p align="left" class="lead">The benchmark dataset contains 404 protein sequences which composed of 178
        <a href="/services/ldapred/cancer-lectin/">cancer-lectin</a>
        proteins and 226
        <a href="/services/ldapred/non-cancer-lectin/">non-cancer-lectin</a>
        proteins, respectively. </p>
</div>
{% endblock content %}